extends layout 

block content
  h1 Every Movies

  a(href="/movies/add", style="display: inline-block; margin-bottom: 20px; background: #007BFF; color: white; padding: 10px 15px; text-decoration: none; border-radius: 5px;") Add New Movie

  if movies.length
    each movie in movies
      .movie-card
        h2 
          a(href=`/movies/${movie._id}`) #{movie.name}
        h4 Year Released : #{movie.year}
        h4 Rating: #{movie.rating}
        h4 Genres: #{movie.genres}
  else
        p  Movies weren't Added.
